<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
 	{% load static %}
 	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<form method="POST" class="post-form" action="/containerWeight">
    {% csrf_token %}
  <div class="container">
<br>
  <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
      <h3>For Container Weight Sensor</h3>
    </div>
</div>
<div class="form-group row">
  <label class="col-sm-2 col-form-label">Container Weight ID</label>
  <div class="col-sm-4">
    {{ form.ContainerWeightID }}
  </div>
</div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Container Date</label>
    <div class="col-sm-4">
      {{ form.ContainerDate }}
    </div>
  </div>
<div class="form-group row">
  <label class="col-sm-2 col-form-label">Container Weight After Release</label>
  <div class="col-sm-4">
    {{ form.WeightAfterRelease }}
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-2 col-form-label">Container Weight Before Release</label>
  <div class="col-sm-4">
    {{ form.WeightBeforeRelease }}
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-1 col-form-label"></label>
  <div class="col-sm-4">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>
</div>
</form>
</body>
</html>
