<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Command Records</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<table class="table table-striped table-bordered table-sm">
<thead class="thead-dark">
<tr>
<th>ID</th>
<th>Command Date</th>
<th>Command Time</th>
<th>Command Status</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
{% for command in commands %}
<tr>
<td>{{ command.CmdID }}</td>
<td>{{ command.CmdDate }}</td>
<td>{{ command.CmdTime }}</td>
<td>{{ command.CmdStatus }}</td>
<td>

<!-- <a href="/editCmd/{{ command.id }}"><span class="glyphicon glyphiconpencil"
>Edit</span></a> -->
<a href="/deleteCmd/{{ command.id }}">Delete</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
<br>
<br>
<center><a href="/command" class="btn btn-primary">Add New Record</a></center>
</body>
</html>
